@page "/cars"
@inject IModalService modal
<PageTitle>Коли</PageTitle>
<!-- Имплементира страницата Cars. -->
@if (cars == null)
{
		<p><em>Loading...</em></p>
}
else
{
		<h1>Коли</h1>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Модел</th>
					<th>Марка</th>
					<th>Пробег</th>
					<th>Дата на обслужване в сервиз</th>
					<th>Действия</th>
				</tr>
			</thead>
			<tbody>
			@foreach (var car in cars)
			{
						<tr>
							<td> @car.IdCar</td>
							<td><input type="text"  @bind="@car.ModelCar"></td>
							<td><input type="text" @bind="@car.BrandCar" /></td>
							<td><input type="number"  @bind="@car.MileageCar"></td>
							<td><input type="date"  @bind="@car.ServiceDateCar"></td>
							
							<td><button class="btn btn-danger" @onclick="@(()=> RemoveCar(@car))">Изтрий</button>
								
						<button class="btn btn-warning" @onclick="@(()=> UpdateCar(@car))">Редактирай</button>
								</td>
						</tr>
			}
			</tbody>
			<tfoot>
				 <tr>
						<td><button class="btn btn-primary" @onclick="AddCar">Добави</button></td>
						<td><input type="text" id="modelCar" @bind-value="@Model" /></td>
						<td><input type="text" id="brandCar" @bind-value="@Brand" /></td>
						<td><input type="number" id="mileageCar" @bind-value="@Mileage" /></td>
						<td><input type="date" id="serviceDate" @bind-value="@ServiceDate" /></td>
					
					</tr>
			</tfoot>
		</table>

}

